@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../assets/font/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
  color: #eee;
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  align-items: center;
  min-width: 1100px;
  margin: 0 auto;
}
header nav .logo {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 30px;
}
header nav ul li {
  cursor: pointer;
  transition: 0.2s;
  font-family: Allura, cursive;
}
header nav ul li:hover {
  transform: scale(1.3);
}
header nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
}
header nav .nav-icons i {
  transition: 0.2s;
  cursor: pointer;
}
header nav .nav-icons i:hover {
  transform: scale(1.3);
}
header .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
header .header-text div {
  margin-top: -150px;
}
header .header-text div h2 {
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
header .header-text div h1 {
  font-size: 3.2em;
  letter-spacing: 10px;
  font-weight: 700;
  margin-top: -20px;
  font-family: Poppins, serif;
}
header .header-text div img {
  height: 27px;
  margin: 32px 0;
}
header .header-text div h6 {
  font-size: 0.75rem;
  letter-spacing: 6px;
  font-weight: 100;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
}
.section1 .intro-text {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed rgb(166, 114, 69);
}
.section1 .intro-text h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}
.section1 .intro-text h3 {
  margin-top: -6px;
  font-family: Poppins, serif;
  color: rgb(166, 114, 69);
}
.section1 .intro-text img {
  margin: 26px;
}
.section1 .intro-text img:nth-of-type(2) {
  border-radius: 150px;
  height: 70px;
  margin-bottom: 8px;
}
.section1 .intro-text h4 {
  font-family: Poppins, serif;
  font-weight: 100;
}
.section1 .intro-text h5 {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
}
.section1 .intro-pic {
  background: url(../img/store-01.jpg) center/cover;
}

.section2 {
  color: #eee;
  padding-bottom: 100px;
  position: relative;
}
.section2::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  left: 50%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  bottom: -330px;
  transform: translate(-50%, -50%);
}
.section2 h2 {
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-family: Allura, cursive;
  font-weight: 500;
  padding: 60px 0 30px;
}
.section2 ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}
.section2 ul li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 10px;
}
.section2 .meals {
  background: #eee;
  color: #21201e;
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  border-top: 2px solid rgb(166, 114, 69);
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 100;
  position: relative;
}
.section2 .meals .meal {
  display: grid;
  grid-template-columns: 25% 65% 15%;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
  margin: 0 20px;
}
.section2 .meals .meal img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  align-self: center;
}
.section2 .meals .meal .meal-text {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  height: 100%;
}
.section2 .meals .meal .meal-text h3 {
  text-transform: uppercase;
  color: #21201e;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.section2 .meals .meal > p {
  color: rgb(166, 114, 69);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.section3 {
  padding: 100px 15px 65px;
  color: #eee;
}
.section3 .form-content {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  max-width: 1050px;
  background: #eee;
}
.section3 .form-content .hours {
  padding: 20px;
  background: #000;
}
.section3 .form-content .hours .hours-content {
  border: 1px dashed rgb(182, 182, 182);
  padding: 20px 0;
}
.section3 .form-content .hours .hours-content h3 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: rgb(166, 114, 69);
}
.section3 .form-content .hours .hours-content h4 {
  font-family: Poppins, serif;
  margin-top: -16px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.section3 .form-content .hours .hours-content img {
  margin-top: 25px;
}
.section3 .form-content .hours .hours-content h5 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-family: Poppins, serif;
  font-weight: normal;
  font-size: 1.1rem;
  margin: 30px 0 12px;
}
.section3 .form-content .hours .hours-content p {
  font-size: 0.85rem;
}
.section3 .form-content .form-infos {
  display: grid;
  padding: 30px 0;
}
.section3 .form-content .form-infos h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
.section3 .form-content .form-infos h3 {
  color: #21201e;
  margin-top: -18px;
  font-family: Poppins, serif;
  font-size: 1.8rem;
}
.section3 .form-content .form-infos img {
  height: 25px;
  margin: 25px;
}
.section3 .form-content .form-infos .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
  padding: 0 20px;
}
.section3 .form-content .form-infos .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.section3 .form-content .form-infos button {
  border: none;
  border-radius: 50px;
  background: #21201e;
  color: #eee;
  padding: 16px 34px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  width: 25%;
  margin: 0 auto;
  transition: 0.2s;
}
.section3 .form-content .form-infos button:hover {
  transform: translateX(3px);
}

.section4 {
  padding: 50px 20px 90px;
}
.section4 .events-container {
  max-width: 1000px;
  margin: 0 auto;
}
.section4 .events-container h2 {
  font-size: 2.5rem;
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: normal;
}
.section4 .events-container h3 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  font-family: Poppins, serif;
}
.section4 .events-container img {
  margin: 30px 0;
}
.section4 .events-container .event-grid {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "a b" "c b";
}
.section4 .events-container .event-grid .date-content {
  background: #21201e;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 22px;
}
.section4 .events-container .event-grid .date-content h6 {
  font-size: 1.7rem;
}
.section4 .events-container .event-grid .adress {
  background: #eee;
}
.section4 .events-container .event-grid .adress h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding-left: 8px;
  font-weight: 500;
  color: rgb(182, 182, 182);
}
.section4 .events-container .event-grid .adress p {
  font-size: 0.9rem;
  color: rgb(182, 182, 182);
  margin-top: 20px;
  letter-spacing: 1px;
}
.section4 .events-container .event-grid .adress i {
  margin-left: 3px;
  font-size: 0.7rem;
  transform: translate(-2px);
}
.section4 .events-container .event-grid .adress i:nth-child(2) {
  margin-left: 10px;
}
.section4 .events-container .event-grid .adress h5 {
  letter-spacing: 2px;
  margin-top: 25px;
  cursor: pointer;
}
.section4 .events-container .event-grid .event-left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
}
.section4 .events-container .event-grid .event-left .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .events-container .event-grid .event-left .adress {
  color: #21201e;
  padding: 30px 20px;
}
.section4 .events-container .event-grid .event1 {
  grid-area: a;
}
.section4 .events-container .event-grid .event1 .date {
  background: url(../img/event-01.jpg) center/cover;
}
.section4 .events-container .event-grid .event2 {
  grid-area: c;
}
.section4 .events-container .event-grid .event2 .date {
  background: url(../img/event-02.jpg) center/cover;
}
.section4 .events-container .event-grid .event3 {
  grid-area: b;
  background: url(../img/event-03.jpg) center/cover;
  padding: 25px;
}
.section4 .events-container .event-grid .event3 .adress {
  height: 100%;
  padding: 0 12px;
}
.section4 .events-container .event-grid .event3 .adress h3 {
  margin: 40px 0 15px;
}
.section4 .events-container .event-grid .event3 .adress h5 {
  padding: 45px;
}

.section5 {
  padding: 70px 0 230px;
  position: relative;
}
.section5:after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}
.section5 .quote-container {
  background: #eee;
  z-index: 3;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 65px 70px;
  width: 98%;
  box-shadow: 0 0 3px #333;
}
.section5 .quote-container:before {
  content: "";
  background: url(../img/avatar-02.jpg) center/cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.section5 .quote-container p {
  color: rgb(166, 114, 69);
}
.section5 .quote-container .text-container {
  padding: 25px 15px;
  line-height: 30px;
}
.section5 .quote-container .text-container::before {
  content: "❝";
  font-size: 1.5rem;
}
.section5 .quote-container .text-container::after {
  content: "❞";
  font-size: 1.5rem;
}/*# sourceMappingURL=index.css.map */